@{
  Layout = "_Layout";
}

@using System.Security.Claims

<div class="jumbotron">
  <h1>Authentication with Identity</h1>
</div>
<hr />
<div class="loginIndex">
  @if (User.Identity.IsAuthenticated)
  {
    <h5 class="hi">Greetings @User.Identity.Name!</h5>
    @using (Html.BeginForm("LogOff", "Account"))
    {
      <input type="submit" class="btn btn-danger" value="Log Out?" />
    }
  }
  else
  {
    <button class="btn-warning">@Html.ActionLink("Register", "Register")</button>
    <button class="btn-warning">@Html.ActionLink("Log in", "Login")</button>
  }
</div>
<hr />