@{
  Layout = "_Layout";
}

@using System.Security.Claims

<div class="jumbotron">
  <h1>Authentication with Identity</h1>
</div>
<hr />
@if (User.Identity.IsAuthenticated)
{
  <p>Hello @User.Identity.Name!</p>
  @using (Html.BeginForm("LogOff", "Account"))
  {
    <input type="submit" class="btn btn-danger" value="Log Out" />
  }
}
else
{
  <button class="btn-success">@Html.ActionLink("Register", "Register")</button>
  <button class="btn-success">@Html.ActionLink("Log in", "Login")</button>
}
