@{
  Layout = "_Layout";
}

@using Pierres.ViewModels
@model LoginViewModel

<div class="jumbotron">
  <h1>Log in with your account</h1>
</div>
<hr />
<div class="card loginCard">
@using (Html.BeginForm())
{
  @Html.Label("Enter Email: ")
  @Html.TextBoxFor(m => m.Email)
  <br>
  @Html.Label("Enter Password: ")
  @Html.PasswordFor(m => m.Password)
  <br>
  <button type="submit" class="btn-success">Log In!</button>
}
</div>
