@{
  Layout = "_Layout";
}

@model Pierres.Models.Treat

<div class="jumbotron">
  <h1>Assign Treat to Flavor here!</h1>
</div>
<hr />
<h3>Assign @Html.DisplayFor(model => model.Name) to a Flavor:</h3>
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)
  @Html.Label("Choose Flavor:")
  @Html.DropDownList("FlavorId")
  <br>
  <input type="submit" value="Add to Flavor!" />
}