@{
  Layout = "_Layout";
}

@model Pierres.Models.Treat

<div class="jumbotron">
  <h1>Add a new Treat here!</h1>
</div>
<hr />
<div class="card createCard">
  @using (Html.BeginForm())
  {
    @Html.Label("Treat Name:")
    @Html.TextBoxFor(model => model.Name, new { required = "required" })
    <br>
    @Html.Label("Treat Quantity:")
    @Html.TextBoxFor(model => model.Quantity, new { type = "number", required = "required" })
    <br>
    <button class="btn-warning" type="submit">Add Treat!</button>
  }
</div>
<hr />