@{
  Layout = "_Layout";
}

@model Pierres.Models.Flavor

<div class="jumbotron">
  <h1>Add Flavor</h1>
</div>
<hr />
@using (Html.BeginForm())
{
  @Html.Label("Flavor Name:")
  @Html.TextBoxFor(model => model.Name, new { required = "required" })
  <br>
  <input type="submit" value="Add Flavor!" />
}