@{
  Layout = "_Layout";
}

@model Pierres.Models.Flavor

<div class="jumbotron">
  <h1>Add Flavor</h1>
</div>
<hr />
<div class="card createCard">
  @using (Html.BeginForm())
  {
    @Html.Label("Flavor Name:")
    @Html.TextBoxFor(model => model.Name, new { required = "required" })
    <br>
    <button class="btn-warning" type="submit">Add Flavor!</button>
  }
</div>
<hr />