div#header {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  color:rgb(253, 71, 71);
  background:rgb(100, 100, 100);
  padding:8px;
  text-align: center;
}

body {
  background-color: aquamarine;
}

.jumbotron {
  background-color: rgb(240, 156, 243);
  padding: 4%;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px rgb(181, 64, 185);
}

.btnRight {
  float: right;
}

.homeCard {
  padding: 10px;
  margin-left: 11vw;
  text-align: center;
  border-radius: 25px;
}

.flavBtn {
  width: 5vw;
  margin-left: 7vw;
  border-radius: 10px;
  background-color: rgb(240, 156, 243);
}

.treatBtn {
  width: 5vw;
  margin-left: 7vw;
  border-radius: 10px;
  background-color: rgb(240, 156, 243);
}

a {
  color: black;
  text-shadow: 1px 1px 1px white;
}

a:hover {
  color: black;
}

.searchForm {
  text-align: center;
}

.treatCard {
  width: 20vw;
  padding: 10px;
  margin-left: 11vw;
  text-align: center;
  border-radius: 10px;
}

.flavCard {
  padding: 10px;
  margin-left: 11vw;
  text-align: center;
  border-radius: 10px;
  width: 20vw;
}

.loginCard {
  width: 40vw;
  text-align: center;
  margin-left: 15vw;
  background-color: rgb(240, 156, 243);
  padding: 10px;
}